tds_output*
/venv/
/logs/migrations/__init__.py
.installed.cfg
*.env
*.sh
!*entrypoint.sh
.DS_Store
*.DS_Store
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
staticmedia/
lib
lib64
__pycache__/
initial_data/
staticfiles/
logs/
google_service_account.json
.vscode/
pgdata/
.xml
.idea